@import '../styles/variables.scss';
@import '../styles/mixins.scss';
@import '../styles/animations.scss';

.filterContainer {
  margin-bottom: $spacing-lg;
  padding: $spacing-md;
  border: 1px solid $border;
  border-radius: $radius-lg;
  background: hsl(0 0% 98%);
  animation: fadeInUp 0.3s ease-out;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: $spacing-md;
  color: $foreground;
}

.filtersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-md;
  margin-bottom: $spacing-md;

  @include responsive(mobile) {
    grid-template-columns: 1fr;
  }
}

.filterGroup {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: $spacing-xs;
  color: $foreground;
}

.input {
  @include input-base;
  width: 100%;
  
  &:focus {
    border-color: $primary;
  }
}

.clearButton {
  @include button-base;
  @include hover-lift;
  border: 1px solid $border;
  background: $background;
  
  &:hover {
    background: $secondary;
  }
}

@include responsive(mobile) {
  .filterContainer {
    padding: $spacing-sm;
  }
}


